In [15]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [12]:
df.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [13]:
df.tail(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60933,181,Zimbabwe,2899,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.00,33.00,15.00,16.00
60934,181,Zimbabwe,2899,Miscellaneous,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,-4.00,0.00
60935,181,Zimbabwe,2899,Miscellaneous,5911,Export Quantity,1000 tonnes,1.00,1.00,0.00,0.00,1.00
60936,181,Zimbabwe,2899,Miscellaneous,5301,Domestic supply quantity,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60937,181,Zimbabwe,2899,Miscellaneous,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [16]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [54]:
# Question 1 
df.shape

(3, 3)

In [25]:
# Question 2
grouped = df.groupby('Element').mean
print(mean_df)

               Area Code    Item Code         Y2014         Y2015  \
Element Code
511           133.777778  2501.000000  22924.111111  23512.911111
645           134.239755  2688.155148     10.216179     10.142884
664           134.434982  2694.666933     91.824742     91.500101
674           134.391798  2694.604818      2.384941      2.380597
684           134.391798  2694.604818      2.059529      2.057849
5072          135.058129  2677.109405     13.888849      8.255141
5123          136.561971  2700.250373     76.268293     77.371329
5131          135.293532  2661.898507    142.387016    144.325313
5142          134.243068  2688.734062    247.616930    251.450949
5154          136.001155  2730.801963     47.363496     39.744697
5170          133.892803  2668.332760      6.548436      6.524430
5171           90.645045  2678.428829      0.749550      0.628829
5301          133.898584  2681.292729    380.762080    385.413451
5511          135.725586  2692.618655    504.252676    508.625755
5521          133.640637  2682.719484    178.394646    191.206644
5527          135.875328  2671.828084     28.770236     31.590013
5611          133.912045  2684.562366     55.731750     54.371505
5911          136.250284  2689.201226     40.989246     42.552503

                     Y2016         Y2017         Y2018
Element Code
511           24113.488889  24725.355556  25346.777778
645              10.050324      9.985652     10.058817
664              91.035664     91.577241     91.620246
674               2.366350      2.378002      2.373357
684               2.028669      2.058177      2.057086
5072              7.832692     12.837842      4.879751
5123             78.540070     79.947237     81.624502
5131            140.596693    146.564565    153.983525
5142            253.976002    256.288331    265.385972
5154             42.572632     56.606529     55.166749
5170              8.074620      7.687311      7.552860
5171              0.160360      0.163964      0.162162
5301            389.493848    397.146843    411.185712
5511            506.393213    530.179391    539.540533
5521            188.443333    184.423479    190.603820
5527             30.815810     32.810211     33.328681
5611             58.390949     59.760416     58.240059
5911             41.587862     49.819344     49.806583

In [24]:
# Question 3
sum_df = df.groupby('Element').sum()
print(sum_df)

                                        Area Code  Item Code  Element Code  \
Element
Domestic supply quantity                   708993   14197445      28068795
Export Quantity                            599910   11840553      26026133
Fat supply quantity (g/capita/day)         675050   13535000       3435732
Feed                                       176272    3538507       7282199
Food                                       663295   13285035      25406622
Food supply (kcal/capita/day)              674057   13511060       3329296
Food supply quantity (kg/capita/yr)        658446   13185401       3163725
Import Quantity                            688174   13795966      28834929
Losses                                     274353    5424803      10292107
Other uses (non-food)                      235554    4729749       8926728
Processing                                 271940    5350416      10313310
Production                                 526751   10450053      21388191
Protein supply quantity (g/capita/day)     675050   13535000       3385502
Residuals                                  623271   12421089      24066350
Seed                                       103537    2035933       4211574
Stock Variation                            571566   11329527      21464704
Total Population - Both sexes                6020     112545         22995
Tourist consumption                         50308    1486528       2869905

                                             Y2014       Y2015       Y2016  \
Element
Domestic supply quantity                1996716.35  2021493.55  2044842.70
Export Quantity                          150020.64   157614.47   151920.46
Fat supply quantity (g/capita/day)        10225.56    10235.74    10102.77
Feed                                     216927.89   225050.22   228958.65
Food                                    1212332.49  1232361.10  1247022.17
Food supply (kcal/capita/day)            454257.00   453383.00   451810.00
Food supply quantity (kg/capita/yr)       49650.63    49345.13    48985.28
Import Quantity                          274144.48   267018.46   286582.78
Losses                                   153223.00   155439.00   157787.00
Other uses (non-food)                     78718.13    66254.41    69563.68
Processing                               282923.00   287929.00   280631.00
Production                              1931287.75  1947019.39  1943537.15
Protein supply quantity (g/capita/day)    11836.46    11833.95    11779.69
Residuals                                 30149.00    30045.00    37224.00
Seed                                      21922.92    23976.82    23389.20
Stock Variation                           58749.83    34910.99    33140.12
Total Population - Both sexes           1031585.00  1058081.00  1085107.00
Tourist consumption                         416.00      349.00       89.00

                                             Y2017       Y2018
Element
Domestic supply quantity                2088198.10  2161192.10
Export Quantity                          182338.80   181594.80
Fat supply quantity (g/capita/day)        10253.84    10258.69
Feed                                     223705.68   233489.68
Food                                    1258888.28  1303841.28
Food supply (kcal/capita/day)            454681.00   455261.00
Food supply quantity (kg/capita/yr)       48690.04    49056.85
Import Quantity                          294559.09   287997.09
Losses                                   160614.00   163902.00
Other uses (non-food)                     91645.97    91300.97
Processing                               292836.00   308429.00
Production                              2030056.89  2075072.89
Protein supply quantity (g/capita/day)    11842.45    11833.56
Residuals                                 35500.00    34864.00
Seed                                      24870.14    25263.14
Stock Variation                           54316.91    20577.91
Total Population - Both sexes           1112641.00  1140605.00
Tourist consumption                          91.00       90.00

In [26]:
# Question 4
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

df = pd.DataFrame(lst, columns=col)

print(df)

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

In [ ]:
# Question 5
Type error

In [55]:
# Question 6
# Printing the number of unique values in the 'Nationality' column
print(df['Nationality'].nunique())

3

In [60]:
# Qyestion 7
# Filter the DataFrame for Madagascar in 2015
madagascar_2015 = df[(df['Nationality'] == 'Madagascar') & (df['Overall'] == 2015)]

# Calculate the total Protein supply quantity in Madagascar in 2015
total_protein_madagascar_2015 = madagascar_2015['Overall'].sum()

print("Total Protein supply quantity in Madagascar in 2015:", total_protein_madagascar_2015)

Total Protein supply quantity in Madagascar in 2015: 0

In [38]:
df.columns

Index(['Age', 'Nationality', 'Overall'], dtype='object')

In [62]:
# Question 8

# Perform a groupby operation on 'Nationality' and calculate the sum for each area
sum_by_nationality = df.groupby('Nationality')['Overall'].sum()

# Sort the sums in ascending order
sorted_sums = sum_by_nationality.sort_values()

# Find the 7th lowest sum
seventh_lowest_sum = sorted_sums.iloc[6]  # Indexing starts from 0, so 6 corresponds to the 7th element

# Find the nationality with the 7th lowest sum
nationality_with_seventh_lowest_sum = sorted_sums.index[sorted_sums.values == seventh_lowest_sum][0]

print("Nationality with the 7th lowest sum in 2017:", nationality_with_seventh_lowest_sum)
print("The 7th lowest sum in 2017:", seventh_lowest_sum)

IndexError: single positional indexer is out-of-bounds

In [ ]:
# Question 9
# Answer is B by reading from previous calculation

In [ ]:
#Question 10
 # Answer is C

In [ ]:
# Question 11
# Answer is A

In [ ]:
#Question 12
# Answer is B

In [ ]:
# Question 13